.container {
    position: relative;
    z-index: 1;

    width: 700px;
    height: 500px;

    padding: 60px;

    border-radius: 36px;

    background: linear-gradient(169deg, #f1d6c0b3 -1.39%, #552717b3 106.56%);

    box-shadow: 6px 6px 3px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

.form{
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
}

.passwordBlock {
    grid-column: 1/3;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto);
    gap: 15px;
    
    width: fit-content;
}

.submitButton {
    position: absolute;
    bottom: -1px;
    right: -1px;

    width: 100%;
    max-width: 300px;
}

@media(max-width:540px){
    .container{
        padding: 60px 20px;
    }
}